@font-face {
	font-family: 'robotolight';
	src: url('../font/robotolight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotoregular';
	src: url('../font/robotoregular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src: url('../font/icomoon.woff?n0jdt9') format('woff');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

html,
body {
	height: 100%;
	width: 100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: robotolight, sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

h1 {
	margin: 20px;
	font-size: 2.5rem;
	font-weight: normal;
	text-align: center;
}

h2 {
	font-size: 2rem;
	font-weight: normal;
	text-align: center;
}

h3 {
	font-size: 1.25rem;
	font-weight: normal;
	text-align: center;
}

#bg {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #555;
	background-image: url(../img/blackforest.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#bg-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.3);
	background: linear-gradient(rgba(0,0,0,0.5) 30%, rgba(255,255,255,0.2));
}

header {
	position: relative;
	height: 100%;
	width: 100%;
	color: white;
}

nav {
	position: relative;
	padding: 10px 0 10px 0;
	margin-left: 2%;
	width: 96%;
	padding-top: 10px;
	color: white;
	font-size: 1.5rem;
	font-family: robotoregular, sans-serif;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1;
}

.navbar-brand span {
	margin-left: 10px;
	font-size: 0.75rem;
}

.navbar-links {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
	display: flex;
	flex-direction: column;
}

.navbar-link {
	line-height: 50px;
	padding: 0 10px 0 10px;
	font-size: 1.1rem;
}

.menu-toggle {
	position: absolute;
	right: 0;
}

.collapse {
	display: none;
}

.navbar-link:hover {
	font-weight: bold;
}

#motto {
	position: absolute;
	top: 30%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#button-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.button {
	position: relative;
	margin: 10px;
	padding: 0;
	height: 50px;
	width: 150px;
	line-height: 50px;
	text-align: center;
	font-family: robotoregular, sans-serif;
	font-size: 1.2rem;
	font-weight: normal;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	background-color: #2e8b5e;
	display: block;
}

.button.inverted {
	background: white;
	color: #2e8b5e;
}

.button.inverted:hover {
	background: #2e8b5e;
	color: white;
}

.button:hover {
	background: #287952;
}

#features {
	color: #555;
}

.card-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card {
	padding: 20px;
	margin: 10px;
	width: 90%;
	height: 300px;
	min-height: 150px;
	text-align: center;
}

.card-img {
	height: 50px;
	background-size: 50px;
	background-position: center;
	background-repeat: no-repeat;
}

.card-icon {
	font-size: 2.5rem;
}

.card-title {
	height: 50px;
	line-height: 50px;
	font-size: 1.5rem;
	color: #2e8b5e;
	font-family: robotoregular, sans-serif;
}

.card-text {
	font-size: 1.2rem;
}

footer {
	padding: 10px 0 10px 0;
	height: 50px;
	width: 100%;
	line-height: 50px;
	background: #555;
	color: white;
	text-align: center;
}

footer [class^="icon-"] {
	margin: 0 15px 0 15px;
	font-size: 1.5rem;
}

footer [class^="icon-"]:hover {
	color: #2e8b5e;
}

/* Responsive */
@media screen and (min-width: 1500px) {
	.card-wrapper {
		flex-direction: row;
	}

	.card {
		width: 25%;
	}

	.menu-toggle {
		display: none;
	}

	nav {
		margin-left: 10%;
		width: 80%;
		flex-direction: row;
	}

	.navbar-links {
		flex-direction: row;
	}

	.navbar-link {
		margin-left: 10px;
	}

	.collapse {
		display: block;
	}
}

.icon-home:before {
  content: "\e900";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-mobile:before {
  content: "\e959";
}
.icon-user:before {
  content: "\e971";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cloud:before {
  content: "\e9c4";
}
.icon-sync:before {
  content: "\ea2e";
}
.icon-share:before {
  content: "\ea82";
}
.icon-google-plus:before {
  content: "\ea8d";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-github:before {
  content: "\eab0";
}
.icon-android:before {
  content: "\eac0";
}