<div class="divider"> &#x25BF; </div>

<div id="projects" class="row">
	<div class="item">
		<div class="title">Jumpy</div>
		<div class="options">
			<a href="#">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">Pixelwars</div>
		<div class="options">
			<a href="#">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">simpleDrive</div>
		<div class="options">
			<a href="https://play.google.com/store/apps/details?id=org.simpledrive">Play Store</a> <a href="https://github.com/paranerd/simpledrive_android/archive/master.zip">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">Sudoku Solver</div>
		<div class="options">
			<a href="https://play.google.com/store/apps/details?id=org.simpledrive.sodokusolver">Play Store</a>
		</div>
	</div>
</div>