<div class="divider">&#x25BF;</div>

<div id="projects" class="row">
	<div class="item">
		<div class="title">Bruteforce</div>
		<div class="options">
			<a href="#">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">Calculator</div>
		<div class="options">
			<a href="#">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">Prime Numbers</div>
		<div class="options">
			<a href="#">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">Pyramid</div>
		<div class="options">
			<a href="#">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">Vinegere</div>
		<div class="options">
			<a href="#">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">Wordlist Creator</div>
		<div class="options">
			<a href="#">Code</a>
		</div>
	</div>
</div>