<div class="divider">&#x25BF;</div>

<div id="projects" class="row col-3">
	<div class="item">
		<div class="title">2048</div>
		<div class="options">
			<a href="code/web/2048/2048.html">Demo</a>
			<a href="code/web/2048/2048.zip">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">Breakout</div>
		<div class="options">
			<a href="code/web/breakout/breakout.html">Demo</a>
			<a href="code/web/breakout/breakout.zip">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">Dame</div>
		<div class="options">
			<a href="code/web/dame/dame.html">Demo</a>
			<a href="code/web/dame/dame.zip">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">Flappy Bird</div>
		<div class="options">
			<a href="code/web/flappybird/flappy.html">Demo</a>
			<a href="code/web/flappybird/flappybird.zip">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">Jumpy</div>
		<div class="options">
			<a href="#">Demo</a>
			<a href="#">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">Klick</div>
		<div class="options">
			<a href="#">Demo</a>
			<a href="#">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">Mensch Ärgere Dich Nicht</div>
		<div class="options">
			<a href="#">Demo</a>
			<a href="#">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">Piano Tiles</div>
		<div class="options">
			<a href="#">Demo</a>
			<a href="#">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">Pong</div>
		<div class="options">
			<a href="code/web/pong/pong.html">Demo</a>
			<a href="code/web/pong/pong.zip">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">simpleDrive</div>
		<div class="options">
			<a href="https://demo.simpledrive.org">Demo</a>
			<a href="https://github.com/paranerd/simpledrive">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">Spaceblaster</div>
		<div class="options">
			<a href="#">Demo</a>
			<a href="#">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">Tower Defense</div>
		<div class="options">
			<a href="#">Demo</a>
			<a href="#">Code</a>
		</div>
	</div>
	<div class="item">
		<div class="title">Yatzie</div>
		<div class="options">
			<a href="#">Demo</a>
			<a href="#">Code</a>
		</div>
	</div>
</div>